<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Libro de ejemplo</title>
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
        <link rel="stylesheet" type="text/css" href="css/Pagina%20de%20libros.css" />
        <link rel="stylesheet" type="text/css" href="css/Nav-libros.css" />
        <!-- <link rel="stylesheet" type="text/css" href="css/footer.css" /> -->
        <link rel="stylesheet" type="text/css" href="css/footer.css" />      
        <link rel="icon" href="img/libro.ico" />
        <script src="https://kit.fontawesome.com/caf315d017.js" crossorigin="anonymous"></script>
        <!-- <a href="https://www.flaticon.es/iconos-gratis/biblioteca-en-linea" title="biblioteca en línea iconos">Biblioteca en línea iconos creados por Kalashnyk - Flaticon</a> -->
</head>
    <body>
        <div class = "contenedor-principal">
          <%- include('./partials/header') %>
          <!-- Modal -->
<div id="requestBookModal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close">&times;</span>
        <h2>Solicitar Libro</h2>
        <form id="requestBookForm" method="post" action="http://localhost:3000/submit/order">
            <label for="bookTitle">Libro:</label>
            <input type="text" id="bookTitle" name="bookTitle" value="<%= bookData.title %>" readonly><br><br>

            <label for="requestDate">Fecha de Solicitud:</label>
            <input type="date" id="requestDate" name="requestDate"><br><br>

            <label for="returnDate">Fecha de Entrega:</label>
            <input type="date" id="returnDate" name="returnDate"><br><br>
            <div class="submit-btn-container">
                <button id="sub-btn-2" class="submit-modal-btn-2" type="button">Cancelar</button>
                <button id="sub-btn-1" class="submit-modal-btn-1" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
        <div class="contenedor-libros">
            <div id="botones-lateral">
                <div>
                </div>
                <div>
                </div>
               <div>
                </div>
               <div>
                </div>
               <div>
                </div>         
            </div>
            <div id="ejemplar">
                <div id="libro"><img src="<%= bookData.cover %>" alt="Libro" /></div>
            </div>
            <div id="info">
                <div id="texto">
                    <p><b><%= bookData.title %> - <%= bookData.edition %> Edición</b></p>
                    <br />
                    <p><b>AUTOR: </b><%= bookData.author %></p><br>                
                    <p><b>CATEGORIA: </b><%= bookData.categories %></p><br />
                    <p><b>EDICIÓN: </b><%= bookData.edition %> Edición</p><br />
                    <p><b>ISBN-13: </b><%= bookData.isbn %></p><br />
                    <p><b>ARCHIVO: </b>Físico</p><br />
                    <p><b>IDIOMA: </b>Español</p><br>
                    <p><b>DISPONIBLES: </b><%= bookData.available_copies %></p>

                </div>
                <div class="botones">
                <div class="btn-1" id="solicitud-btn">
                  <a><span>SOLICITAR</span></a>
               </div>
                   <!-- Created by   http://grohit.com/   -->
               <div class="btn-2">
                 <a href="pdf/<%= bookData.title %>.pdf" download="<%= bookData.title %>.pdf"><span>DESCARGAR PDF</span></a>
               </div>
                </div>
            </div>
        </div>
        
        <div class="description">
            <div class="content-title">
              <h2 class="title-slider">Descripción</h2>
          </div>
          <div id="t1" class="text">
            <p><%= bookData.summary %></p>
            </div>
            <button id="showMore" class="show-more">
                Ver más
            </button>
            </div>
          </div>
          <%- include(`./partials/footer`) %>

        <script src="js/book.js">            
        </script>
    </body>
</html>