<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>Catálogo UMAN</title>
  <link rel=icon href="img/biblioteca.ico" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/footer.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/Nav.css" /> -->
  <link rel="stylesheet" type="text/css" href="css/Nav-libros.css" />

  <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!--a href="https://www.flaticon.es/iconos-gratis/biblioteca" title="biblioteca iconos">Biblioteca iconos creados por Dighital Design - Flaticon</a>-->
</head>

<body>
  <div class="container-main">
    <%- include('./partials/header') %>
    <div id="Estanteria">
      <!-- cuerpo -->
      <div id="contenido">
        <!-- Contenido -->
        <div class="slider1">
          <div class="slides">
            <% let imgNumber = 0 %>
            <% for (const key in sliderImgs) { %>
            <% imgNumber++ %>

            <img src="<%= sliderImgs[key] %>" class="slide" alt="Image <%= imgNumber %>">
            <% } %>
          </div>
        </div>
        <div id="vista-de-libros">
          <div id="slider2">
            <div class="content-title">
              <h2 class="title-slider">Área de interés</h2>
              <select id="selectCat" style="text-align: center;">
                <% categories.forEach(category => { %>
                <option value=<%= `${category.id}` %>> <%= category.name %> </option>
                <% }); %>
              </select>
            </div>

            <div class="carrusel">
              <button class="carrButton left" id="buttonL">
                <div class="arrowL"></div>
              </button>
              <!-- Contenedor de carrusel -->
              <div class="viewport" style="height: 356.8px; touch-action: pan-y;" id="bookss">
                <!-- Contenedor de libros en fila -->
                <div id="caruselContainer" class="sliderCarr" style="left: 0px; transform: translate();">
                  <!-- Funcion de slider dentro del contenedor de libros en fila -->
                  <% books.forEach(book => { %>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left auto" aria-hidden="true">
                    <a href="./book?id=<%= book.id %>" class="img-related" title="<%= book.title %>">
                      <img src="<%= book.cover %>" width="260px" height="340px" /> <!-- Portada de los libros -->
                    </a> <!-- Portada de los libros -->
                    <h3>
                      <a class="img-related" title="El lenguaje de programacion C" style="color: black; font-size: 17px; font-family:monospace;"><%= book.title %></a>
                    </h3> <!-- Subtitulos de los libros, depende que libro sea sera su titulo -->
                  </div>
                  <% }); %>
                </div>
              </div>
              <button class="carrButton right" id="buttonR">
                <div class="arrowR"></div>
              </button>
            </div>
          </div>

        </div>
        <div id="cardContainer" class="card-container" data-totalpages="<%= pagination %>">
          <% books.forEach(element => { %>
          <a href="./book?id=<%= element.id %>" class="img-related" title="<%= element.title %>">
            <div id="<%= element.id %>" class="card-Book">
              <img src="<%= element.cover %>" alt="<%= element.title %>">
              <div class="card-info">
                <p class="black"><%= element.title %></p>
                <p class="black"><%= element.author %></p>
              </div>
              <!-- <p class="black">Disponible: <%= element.available == 'yes' ? 'Si' : 'No' %></p> -->
            </div>
          </a>
          <% }); %>
          <div id="pages-container" class="pagination-container">
            <button class="pagination-btn-controller">Anterior</button>
            <div id="pagesContainer" class="pagination-page-btns">
              <% for (let i = 1; i <= pagination; i++ ) { %>
                <button id="pagination-btn-<%= i %>" data-page="<%= i %>" class="pagination-btn <%= currentPage == i ? 'pagination-btn-focus' : '' %>"><%= i %></button>
              <% } %>
            </div>
            <button class="pagination-btn-controller">Siguiente</button>
          </div>          
        </div>
      </div>
    </div> <!-- Contenido central -->
  </div> <!-- contenedor -->
  <%- include(`./partials/footer`) %>
</body>
<script src="/js/home.js"></script>

</html>