<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <title>Catálogo UMAN</title>
  <link rel=icon href="img/biblioteca.ico" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/footer.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/Nav.css" /> -->
  <link rel="stylesheet" type="text/css" href="css/Nav-libros.css" />

  <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--a href="https://www.flaticon.es/iconos-gratis/biblioteca" title="biblioteca iconos">Biblioteca iconos creados por Dighital Design - Flaticon</a>-->
</head>

<body>
  <div class="container-main">
    <%- include('./partials/header') %>
    <div id="Estanteria">
      <!-- cuerpo -->
      <div id="contenido">
        <!-- Contenido -->
        <div class="slider1">
          <div class="slides">
            <% let imgNumber = 0 %>
            <% for (const key in sliderImgs) { %>
            <% imgNumber++ %>

            <img src="<%= sliderImgs[key] %>" class="slide" alt="Image <%= imgNumber %>">
            <% } %>
          </div>
        </div>
        <div id="vista-de-libros">
          <div id="slider2">
            <div class="content-title">
              <h2 class="title-slider">Área de informática</h2>
              <select style="text-align: center;">
                <% categories.forEach(category => { %>
                <option value=<%= `${category.id}` %>> <%= category.name %> </option>
                <% }); %>
              </select>
            </div>

            <div class="carrusel">
              <!-- Contenedor de carrusel -->
              <div class="viewport" style="height: 339.8px; touch-action: pan-y;" id="books">
                <!-- Contenedor de libros en fila -->
                <div class="sliderCarr" style="left: 0px; transform: translate();">
                  <!-- Funcion de slider dentro del contenedor de libros en fila -->
                  <% books.forEach(element => { %>
                  <div class="carrusel-cel" style="max-width: 258px; position: absolute left auto" aria-hidden="true">
                    <a href="./book?id=<%=element.id%>" class="img-related" title="">
                      <img src="<%= element.cover %>" width="260px" height="340px" /> <!-- Portada de los libros -->
                    </a> <!-- Portada de los libros -->
                    <h3>
                      <a class="img-related" title="El lenguaje de programacion C" style="color: black; font-size: 17px; font-family:monospace;"><%= element.title %></a>
                    </h3> <!-- Subtitulos de los libros, depende que libro sea sera su titulo -->
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div> <!-- Contenido central -->
  </div> <!-- contenedor -->
  <%- include(`./partials/footer`) %>
</body>
<script src="/f/home.js"></script>

</html>