<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Registro de Libros</title>
  <link rel="stylesheet" href="/css/lstyles.css">
  <link rel="stylesheet" href="/css/nav-admin.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/adminOrders.js"></script>

</head>

<body>
  <%- include('./partials/adminHeader.ejs') %>

  <main>
      <div id="notification" class="hidden ghost"></div>
      <div class="container-mains">
        <h1 style="margin-left: 4rem;">Ordenes de Libros</h1>
        <table id="orders-table">
            <thead>
                <tr>
                    <th>ID de Orden</th>
                    <th>Libro</div></th>
                    <th>Usuario</th>
                    <th><div class="th-cell">Fecha de Pedido<div class="triangle"></div></div></th>
                    <th><div class="th-cell">Fecha de Entrega<div class="triangle"></div></div></th>
                    <th><div class="th-cell">Estado<div class="triangle"></div></div></th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="content">
                <% data.forEach(element => { %>                    
                    <tr>
                        <td class="rowid"><%= element.id %></td>
                        <td class="rowtitle"><%= element.title %></td>
                        <td class="rowusername"><%= element.username %></td>
                        <td class="rowloan_date"><%= element.loan_date %></td>
                        <td class="rowreturn_date"><%= element.return_date %></td>
                        <td class="rowstatus"><%= element.status %></td>
                        <td>                    
                            <button class="btn editBtn">Editar</button>
                            <% if(element.status == 'Pendiente') { %>
                                <button class="btn acceptBtn">Aprobar</button>
                            <% } %>                            
                            <button class="btn rejectBtn">Rechazar</button>
                        </td>
                    </tr>
                <% }); %>
                <!-- Más filas aquí -->
            </tbody>
        </table>
    </div>
        

  </main>

</body>
</html>
